<header class="header">
  <div class="header-left">
    <div class="date-time">
      <span class="day">{{ getDayOfWeek() }}</span>
      <span class="date">{{ getFormattedDate() }}</span>
      <span class="time">{{ getFormattedTime() }}</span>
    </div>
  </div>

  <div class="header-right">
    <button mat-icon-button class="notification-button" (click)="toggleNotifications()" [matBadge]="notificationCount"
            matBadgeColor="warn" matBadgeSize="small">
      <mat-icon>notifications</mat-icon>
    </button>

    <app-notifications *ngIf="showNotifications"></app-notifications>

    <div class="user-info">
      <span class="greeting">{{ 'header.greeting' | translate }}</span>
      <span class="username">{{ userName }}</span>
      <ng-container *ngIf="userAvatarUrl; else headerInitials">
        <img [src]="userAvatarUrl" alt="User Avatar" class="user-avatar" (error)="onAvatarError()" />
      </ng-container>
      <ng-template #headerInitials>
        <div class="user-avatar-initials">{{ userInitials }}</div>
      </ng-template>
    </div>

    <app-lang-switcher></app-lang-switcher>
  </div>
</header>
